/*
Theme Name: Materialpool
Theme URI: https://material.rpi-virtuell.de
Template: twentyseventeen
Author: the WordPress team
Author URI: https://staude.net
Description: Theme für den rpi-materialpool
GitHub Theme URI: https://github.com/rpi-virtuell/rw-materialpool-theme
GitHub Branch:  master
Version: 1.1.8

*/

@import url('https://fonts.googleapis.com/css?family=Cairo:300,400,700|Open+Sans:400,700');

@media only screen and (min-width: 400px) {
    .site-navigation-fixed.navigation-top {
        top: 60px;
    }
}

.ui-accordion .ui-accordion-header .ui-icon {
    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -8px;
}

.single-post:not(.has-sidebar) #primary, .page.page-one-column:not(.twentyseventeen-front-page) #primary, .archive.page-one-column:not(.has-sidebar) .page-header, .archive.page-one-column:not(.has-sidebar) #primary {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.right {
    float: right;
}

@media screen and (min-width: 48em)
{
    .navigation-top {
        font-size: 1.0rem;
    }
}

body {
    font-family: 'Cairo','Open Sans',  sans-serif;

}
.site-content-contain{
    background-image: repeating-linear-gradient(to top, #bbb, #eee);
}

.content-area{
    background-color: #eee;
}


.content-area ul{
    margin-left:20px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: normal;
}
body.page-template-default h1.entry-title {
    font-family: 'Cairo','Open Sans', sans-serifbody;
    line-height: normal;
    font-weight: 300 !important;
    color: #333 !important;
    font-size:2rem !important;
    text-transform: initial!important;
}

a {
    color: #2E89C1;
    box-shadow:none !important;
}

/* full-width content! +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* site width */
.wrap {
    max-width: 1200px;
}

.single div#primary.content-area,
.single-material div#primary.content-area,
.single-autor div#primary.content-area,
.single-themenseite div#primary.content-area,
.single-organisation div#primary.content-area
{
    width: 100% !important;
    padding: 0 20px 0 30px;
}
/* archive-themenseiten  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.themenseite-entry{
    display: flex;
    min-width: 350px;
}
.themenseite-image{
    flex: 0 310px;
    background-color: steelblue;
    margin:0px 4% 40px ;

}
.themenseite-image img{
    margin: auto;
    text-align: center;
    padding: 3%;
    min-width: 80px;
}
.themenseite-description{
    flex: 1;
}

span.thema-title a{
    margin: 0 20px 0 0
}



/* front-page  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.home .material-results{

    padding: 0;
/*
    margin-bottom:50px;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
*/

    text-align: center;
    max-height: 100%;
    overflow: hidden;
}
.home .material-results img.materialpool-template-material-picture-facet{
    padding: 10px;
    width:100%;
    max-width: unset;

}
.home .facet-treffer{
    border: 1px solid #ddd;
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}
/* single-themenseite  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.themenseite-gruppe .material-results{
    margin-bottom:50px;
    padding: 0;
    /*
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    */
    font-size: .85em;
}

.home .facetwp-template, .single-themenseite .material-results{
    display: grid;
    grid-template-rows: auto;
    grid-gap: 10px;

}


@media only screen and (max-width: 900px) {
    .thema-description figure, .thema-description img{
        float: none;
    }
}
@media only screen and (min-width: 380px) {
    .home .facetwp-template, .single-themenseite .material-results {
        grid-template-columns: repeat(1, 1fr);

    }

}
@media only screen and (min-width: 600px) {
    .home .facetwp-template, .single-themenseite .material-results {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media only screen and (min-width: 1200px) {
    .home .facetwp-template, .single-themenseite .material-results {
       grid-template-columns: repeat(3, 1fr);
    }
}

.themenseite-gruppe .facet-treffer{

    border: 1px solid #ddd;
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}

.thema-header{
    display: flex;
    flex-flow: row wrap;
    min-width: 400px;
    clear: both;
    margin-bottom: 30px;
}
.thema-description{
    flex:1;
    min-width: 400px;
}
.thema-facets{
    flex:0 250px;
}
@media only screen and (max-width: 800px) {
    .thema-facets {
        flex: 0;
    }
}

/* single organisation ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.entry-content.organisation {
    display: flex;
    flex-flow: row wrap;
    min-width: 400px;
}
.organisation-left {
    flex: 0 25%;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    padding: 0 15px 5px 5px;
}
div.organisation-left .organisation-image img{
    width: 100%; opacity: 0;
}

div.organisation-left .organisation-image{
    width:103%;
    background-size: contain;
    background-position: left center;
    margin-bottom: 30px;
}

div.organisation-left .image-alt, .autor-left .image-alt{
    font-family: "Arial Black", Gadget, sans-serif;
    font-weight: bold;
    color: #000;
    border: 1px solid steelblue;
    padding: 10px 7px;
    border-radius: 4px;
}

.alpika-logo{
    float: left;
    margin-right: 5px;
}

.ekd-logo {
    width: 102px;
    float: right;
}

.organisation-content {
    flex: 1;
    padding: 0 5%;
}

.organisation-right{
    flex: 0 13%;
}
/* single autor ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.entry-content.autor {
    display: flex;
    flex-flow: row wrap;
    min-width: 400px;
}
.autor-left {
    flex: 0 20%;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    padding: 0px 5px;
    background-color: gainsboro;
}
.autor-left .autor-image{
    text-align: center;
    margin-bottom: 20px;

}

.autor-left .autor-image img{
    width: 100%
}

.author-badge{
    width:100%;
    height:180px;
    text-align: center;
    padding: 30px 0;
}
.author-badge.grau{
    background: url('/wp-content/themes/rw-materialpool-theme/assets/grau.png') no-repeat;
    background-size: contain;

}
.author-badge.gruen{
    background: url('/wp-content/themes/rw-materialpool-theme/assets/gruen.png') no-repeat;
    background-size: contain;

}
.author-badge.gold{
    background: url('/wp-content/themes/rw-materialpool-theme/assets/gold.png') no-repeat;
    background-size: contain;

}

.autor-content {
    flex: 1;
    padding: 0 4%;
}

.autor-right{
    flex: 0 18%;
}

/* single material +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* material columns layout  */
.entry-content.material-detail {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    min-width: 400px;
    /*min-height: 100vh;*/
}


div.material-column a{
    color:#2E89C1;
}
div.material-column h4{
    color:#666;
    font-weight: bolder;
}

div.material-column h1,

.material-detail-left {
    flex: 0 35%;
}
.material-detail-right {
    flex: 0 22%;
}
.material-detail-content {
    flex: 1;
    padding: 0 20px;
    overflow:hidden;
}
.material-detail-content-viewer{
    flex: 1;
    padding: 0 20px 0 0;
}
.material-detail-footer {
    flex: 1 100%;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid lightsteelblue;
    padding-left: 30px;
    border-radius: 4px;
    background-color: #888;
}


.material > div > footer > div > a {
    background-color: transparent;
}

/* left column items */
div.material-detail-image, .material-detail .materialpool-template-material-picture-facet{
    width: 100%;
}
.material-detail-image{
    border: 1px solid lightsteelblue;
    margin-bottom: 20px;
    font-size: 0.8em;
}
 /* description column items */

.page-template-suche .facet-treffer{
    background: #fff;
    padding: 5px 0 20px 5px;
    border-radius: 3px;
}

.facet-treffer.alpika{
    background: lightyellow url('/wp-content/plugins/rw-materialpool/assets/alpika.png') no-repeat right top;
    border: 1px solid #FEDFB2;
    padding-top:40px;
}
.facet-treffer.special{
    background-color:#ffee99;
    border: 1px solid #FEDFB2;

}
.facet-treffer.themenseite, .facet-treffer.themenseite a{
    background-color: steelblue;
    color:#fff;
}


.facet-treffer .themenseite-treffer{
    display: flex;
}
.facet-treffer .themenseite-thumb{
    flex: 0 180px;
    margin:0 5% 0 3%;
}
.facet-treffer .themenseite-thumb img{
    border: 1px solid #fff;
}

.facet-treffer .themenseite-treffer p{
    margin:0 3% 0 0;
}
.facet-treffer .themenseite-treffer .link-more{
    display:none;
}


.material-links, .material-desc {
    margin-bottom: 10px;
}
.material-detail-shortdescription {
    color: #666;
    font-size: 130%;
    font-weight: bolder;
}

.material-links h4{
    color: #999;
    font-weight: 400;
}
.viewerjsurlmeta {
    margin: -30px 5px 25px;
}

.material-column a.cta-button {
    background-color: #2E89C1;
    border: none;
    padding: 4px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 5px;
    color: white;
    width:100%;
}
.material-column a.cta-button:hover{
    background-color: cornflowerblue;
    box-shadow: none;

}

 /* right column meta items */

div.materialpool-special-logo{
    color:steelblue;
    font-weight: bold;
    border-bottom: 1px solid steelblue;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 160%;
    line-height: 0.5;
}
div.materialpool-special-logo span{
    font-size: initial;
    color:#666;
    font-weight: normal;
}

.material-meta-container div p{
    line-height: 1.4;
    width:100%;
}
.material-meta-container div a{
    display: block;
}
div.material-detail-meta-rating{
    float: right;
    width:auto;
}
.facet-treffer-mediatyps{
    width:auto;
    float:left;
}

.facet-treffer-mediatyps li{
    float:left;
}


.materialpool-template-material-organisation-logo {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    border: 1px solid #dddddd;
    display:block;
}
.materialpool-template-material-organisation-logo img{
    width: 100%;
    opacity: 0;
}
a.materialpool-template-material-autor-logo {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 185px;
    width: 100%;
    background-clip: padding-box;
    background-color: linen;
    border: 1px solid lightsteelblue;
}
img.materialpool-template-material-autor-logo{
    opacity: 0;
}
.material-detail-meta-author div{
    margin-bottom: 20px;
}


.material-detail-meta-ticker div a {
    display: inline;
}
.material-detail-meta-access div{
    margin-bottom: 20px;
}


.material-detail-meta-ticker div{
    margin-bottom: 20px;
}


.material-meta .material-meta-content-entry{
    margin-left: 5%;
}
.material-meta h4{
    color: #999;
    font-weight: 400;
    margin:0 0 8px 0; padding:0;
    border-bottom: 1px solid cornflowerblue;
}



/* footer meta section */
.material-detail-schlagworte{
    margin-bottom: 15px;
}

/* home +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* header */
.startseite-block-header {
    font-family: 'Cairo','Open Sans',  sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: white;
    margin: 20px 0;
    padding:10px 20px;

}

.startseite-block-header > p {
    margin: 0 0 0 0;
    background-color: #2E89C1;
    padding:10px 20px;
    box-shadow: 2px 2px 4px 0 #ccc;
    margin-bottom: 5px;
}

.startseite-block-content {
    font-family: 'Cairo','Open Sans',  sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #000000;
}

/*header-bild*/
.custom-header-media {
}

/* material list +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* facetsearch*/
.blog:not(.has-sidebar) #primary article, .archive:not(.page-one-column):not(.has-sidebar) #primary article, .search:not(.has-sidebar) #primary article, .error404:not(.has-sidebar) #primary .page-content, .error404.has-sidebar #primary .page-content, body.page-two-column:not(.archive) #primary .entry-content, body.page-two-column #comments {
    width: 100%;
}

/*header ausblenden*/
.page-template-default .site-content{
    padding-top: 40px;
}

/* material columns layout  */
.entry-content.material-facet-search {
    display: flex;
    flex-flow: nowrap;
    min-width: 300px;

}
/** Facetten Column  */
.entry-content.material-facet-search .material-facetscontainer{
    flex: 0 250px;
    background-color: transparent;
    margin-right:3%;
}
/** Ergebnisse Column  */
.entry-content.material-facet-search .material-resultcontainer{
    flex: 1;
}

.material-facetscontainer *{
    /*color:white!important;*/
}
.material-facetscontainer .mfacet-wrap{
    margin: 5px;
}

/** Suchfeld  */
div.material-suche{
    width:94%;
}
h5.facet-label.suche{
    display:none;
}
h5.facet-label.test{
    display:none !important;
}
div.facetwp-facet-suche {
    margin: 0;
    width: 100%;
}
.facetwp-search::-moz-placeholder{
    opacity: 0.4;
}
.facetwp-search::-webkit-input-placeholder{
    opacity: 0.5;
}
.facetwp-search:-ms-input-placeholder{
    opacity:0.3;
}
div.material-suche .facetwp-btn {
    border: 1px solid #ccc;
    cursor: pointer;
    margin-right: -53px;
    padding: 13px 13px 11px;
    position: relative;
    float:right;
    border-radius: 3px;
    background-color: #666965;
    opacity: 1;
}
div.material-suche .facetwp-btn:hover{
    background-color: #706B39;
    opacity: 1;
}
/** conter & pager */
.material-counter {
    width: 220px;
    float: left;
}
.facetwp-counts{
    display: inline;
}
.material-pager {
    width: auto;
    float: right;
}
.material-pager div.facetwp-pager{
    float: right;
    display: inline;
}

.material-meta {
    margin-top: 30px;
}

.material-detail-description-footer {
    font-size: 84%;
    font-style: italic;
}


/* facetts */

.facet-treffer {
    margin-top: 20px;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.facet-treffer-mediatyps {
    font-size: 8px;
    padding-right: 5px;
    padding-top: 5px;
    width: 100%;
}

.facet-treffer-mediatyps ul {
    list-style: none;
}

.facetwp-facet {
    font-family: 'Cairo','Open Sans',  sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #000000;
}
.facet-title {
    font-family: 'Cairo','Open Sans',  sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #2E89C1;
}

.page-template-suche .facet-treffer-content {

    float: left;
    width: 90%;
}

body.page-template-suche div.facet-treffer div.facet-treffer-mediatyps{
    width:8%;
}


.facet-treffer-content p {
    font-family: 'Roboto','Open Sans',  sans-serif;
    margin: 0;
}
.facet-treffer-content p.material-title {
    font-weight: bold;
}
.facet-treffer-content h2 a {
    color: #2E89C1;
    text-decoration: none;
    box-shadow: none;
}

.facet-treffer-content h2 a:hover {
    color: #2E89C1;
    box-shadow: none;
}

.facet-treffer-content .schlagworte {
    color: #2E89C1;
}

.facet-tags {
    margin-top: 10px;
    margin-bottom: 10px;
    clear: both;
}

.facet-rating {
    float: right;
    padding-top: 30px;
}


.facet-tag {
    float: left;
    line-height: 2.2em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-bottom: 0.3em;
    margin-right: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #2E89C1;
    border-top-left-radius: 0.3em 0.3em;
    border-bottom-right-radius: 0.3em 0.3em;
    border-top-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    -moz-border-top-left-radius: 0.3em 0.3em;
    -moz-border-bottom-right-radius: 0.3em 0.3em;
    -moz-border-top-right-radius: 0.3em;
    -moz-border-bottom-left-radius: 0.3em;
    -webkit-border-top-left-radius: 0.3em 0.3em;
    -webkit-border-bottom-right-radius: 0.3em 0.3em;
    -webkit-border-top-right-radius: 0.3em;
    -webkit-border-bottom-left-radius: 0.3em;
}

.facet-tag a {
    text-decoration: none;
    box-shadow: none;
}

.facet-tag a:hover {
    text-decoration: none;
    box-shadow: none;
}



.schlagworte a {
    text-decoration: none;
    box-shadow: none;
}

.schlagworte a:hover {
    text-decoration: none;
    box-shadow: none;
}


.search-head {
    padding-top: 10px;
    padding-bottom: 10px;
}

.material-cover {
    height:150px;
    overflow: hidden;
    border:1px solid #ddd;
    background-color: #ddd;
}

.icon-rot {
    color: #ff0000;
}

.icon-weiss {
    color: #ffffff;
}
.icon-blau {
    color: #2E89C1;
}

.facet-treffer-content .materialpool-template-material-picture-facet {
    max-width: 200px;
}

.comment-list {
    padding-left: 65px;
}

.comment-author {
    padding-left: 10px;
}
.comment-metadata {
    padding-left: 10px;
}
.comment-metadata a {
    color: #ffffff;
}

@media all and (max-width: 600px) {
    .wrap{
        padding:0 0 0 2px;
    }
    .material-facetscontainer{
        display:none;
    }
    input[type="text"].facetwp-search{
        width:auto;

    }
    .facetwp-search-wrap i.facetwp-btn{
        margin-right: 0px;
    }
    body.page-template-suche div.facet-treffer div.facet-treffer-mediatyps{
        width:auto;
        padding: 0;
        margin: 0;
    }
    .material-pager, .material-pager div.facetwp-pager{
        width: 100%;
        float: left;
    }
}

/** chrome probleme **/
/*
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-width: 600px)
{
    .home .material-results,
    .themenseite-gruppe .material-results {
        -webkit-column-count: 3;
        column-count: 3;
    }
    .material-cover {
        height: 200px;
        padding: 0 84px;
    }
}
*/

/** accordion & tabs **/
div.accordion h1,
div.material-column h2,
div.accordion h2{
    font-weight: 300;
    color: #333;
}

.ui-accordion .ui-accordion-header{
    padding: .5em .5em .5em 1.7em !important;
    margin: 0px 0px 6px 0px ;
    font-family: 'Roboto','Open Sans',  sans-serif;
    font-weight: 400;
}
.ui-accordion .ui-accordion-content{
    margin: -7px 0 6px 0!important;
    border: 0;
}
.ui-accordion-header.ui-state-default{
    background-image:none;
    background-color: #ffffff;
    border: none;
}

.ui-accordion-header.ui-state-active{
    background-color: #2E89C1;
    color: #ffffff;

}
.ui-accordion-header.ui-state-active a{
    color: #ffffff!important;
    background-color: inherit;
    padding: 1.0em 1.1em 1.0em 1.7em !important;
    font-size: 1.1em!important;
}

.accordion .ui-tabs{
    padding: 0;
    margin: -3.2em -2.7em;
    background-color: #fff;
    background-image: none;
    border:0;
}
.accordion .ui-tabs ul{
    background-color: #fff;
    background-image: none;
    border:0;

}
.accordion .ui-tabs li.ui-tabs-tab{
    background-color: #ddd;
    background-image: none;
    margin: 0 -0.1em 1px 0;
}
.accordion .ui-tabs li.ui-tabs-tab a, .accordion .ui-widget{
    font-size: 0.9em!important;
}
.ui-tabs .ui-tabs-active{
    background-color: #2E89C1!important;
}
.ui-tabs-active a{
    color: #fff!important;
}
.accordion .ui-tabs li.ui-tabs-tab a{
    margin: 0;
    padding: 0.5em 0.5em;
}

/*footer*/

footer, footer a, footer h2.widget-title{

    background-color: #1B638A;
    color: #ffffff;
    text-decoration:none;

}

/* Autorenliste */

.post-type-archive-autor .facet-treffer {
    background: #fff;
    padding: 5px 0 20px 5px;
    border-radius: 3px;
}

/* Organisationenliste */

.post-type-archive-organisation .facet-treffer {
    background: #fff;
    padding: 5px 0 20px 5px;
    border-radius: 3px;
}

.material-detail-description ul, ol {
	padding-left: 20px;	
}

.organisation-top-orga {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mpshortcodegeneration-container {
    float: right;
}